  <div class="footer">

    <div class="foot_items"><h4>Copyright © LoryFoxie 2024</h4></div>
    <div class="foot_items"><h4>Background: <a href="https://pattern.monster/">Pattern Monster</a></h4></div>
    <div class="foot_items"></div>

  </div>
    
 </div>

</body>
</html>