<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Rock+Salt&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    <title>Random Anime Picker</title>
</head>

<body>

    <div class="container">
        <div class="navigation">

                <div class="nav_items"><h2><a href="/">Homepage</a> ✧</h2></div>
                <div class="nav_items"><h2><a href="/about">About Me</a> &nbsp;✧</h2></div>
                <div class="nav_items"><h2><a href="mailto:loryfoxie@gmail.com">Contacts</a></h2></div>

        </div>


   