<%- include("partials/header.ejs") %>

<div class="a_container">

    <div class="a_header"><h1>What about me?</h1></div>

    <div class="a_main"><img src="images/about.png" alt="random anime girl">

        <p>There is nothing much to say about me.
            <br>I'm a 33 years old girl from Italy, and I'm studying to learn some programming skills. 
            <br>I love cooking, listening to music, drawing, sometimes sewing.
            <br>I also love, and I am currently playing, D&D: that's why most of my Lorem Ipsums text are actually written in fantasy languages!
            <br>           
            <br>Halat pahamali malo panang nalila latumgubi basibiveta kula nangako glong siri. 
        Bamaing mamak ngahulakog umgawang kolag angulipagk isaki ngumg? Ponsat prtangs pibuabur irgtumaya nako abutoga tinog winig asanay tidim ngumir? 
        Gaho pahi, sanam balog bama adind nabubum poyad agpan? Tisobanid otilan nagli ingkag hinganabukog asindut hongipina longa. 
        Andig, lung patung itong hilising-ako ungtub mamatoy itong wanama hanglakatibi? 
        Pahubis nanag paril mabakin hisay binan. 
        Pagg biseng daglalo gisint meranaala ilagati nabakit, akawimako nding hisonawal bitato. 
        Upasila mglisamila dusol iling igkantoosata isot abindi prting sahise, angutilang-u ngapan. 
        Tohaling mangkaponal long pang?
        <br>
        <br> Would you like to contact me? <a href="mailto:loryfoxie@gmail.com">Send me an email!</a>
        </p>

    </div>

</div>

<%- include("partials/footer.ejs") %>